<div class="lista-historico flex flex-col w-80 max-h-96 overflow-y-auto">

  <ng-container *ngFor="let historicoMes of historicos">

    <div
      *ngFor="let historico of historicoMes.historicos"
      class="border-b border-gray-200 pb-10"
    >

      <div class="flex items-start justify-between px-5 pt-4">

        <div class="min-w-0">

          <h3 class="text-lg font-bold text-[#14263d]">
            {{ historico.estabelecimento }}
          </h3>

        </div>

        <div class="ml-4 whitespace-nowrap text-xl font-bold text-green-600">

          R$
          {{ historico.informacoes[0].preco | number:'1.2-2' }}

        </div>

      </div>

    </div>

  </ng-container>

</div>