<div class="lista-historico flex flex-col w-80 max-h-96 overflow-y-auto">

  <div
    *ngFor="let historico of historicos; let last = last"
    class="border-b border-gray-200 pb-10"
    [class.border-b-0]="last"
  >

    <div class="flex items-start justify-between px-5 pt-4">

      <div class="min-w-0">
        <h3 class="text-lg font-bold text-[#14263d]">
          {{ historico.nomeEstabelecimento }}
        </h3>

        <p class="text-sm leading-5 text-gray-500">
          {{ historico.logradouro }}
        </p>

      </div>

      <div class="ml-4 whitespace-nowrap text-xl font-bold text-green-600">
        R$ {{ historico.preco | number:'1.2-2' }}
      </div>

    </div>

  </div>

</div>