<nav aria-label="breadcrumb" class="pt-5 max-w-screen-2xl m-auto">
    <ol class="list-none flex flex-wrap items-center">
      <li class="inline-block mb-2 mr-2">
        <a href="https://portal.uberaba.mg.gov.br/">
          <img
            src="assets/icon/blue-home.svg"
            alt="Home"
            class="w-4 h-4"
          />
        </a>
      </li>
      <li class="inline-block mb-2 mx-2">
        <img src="assets/icon/next.svg" alt="" class="w-3 h-3" />
      </li>
      <li class="inline-block mb-2">
        <a
          href="http://www.uberaba.mg.gov.br/facilitatudo/principal"
          class="text-blue-500 text-sm"
          >FacilitaTudo</a
        >
      </li>
      <li class="inline-block mb-2 mx-2">
        <img src="assets/icon/next.svg" alt="Seta" class="w-3 h-3" />
      </li>
      <li class="inline-block mb-2 text-gray-500 text-sm">{{ valor }}</li>
    </ol>
  </nav>
