<form *ngIf="estabelecimentoFormulario" class="w-full">
    <div class="block md:flex md:justify-between justify-center gap-5">
        <div class="col w-full">
            <label class="block text-sm" for="competencia">Estabelecimentos</label>
            <select id="competencia" formControlName="competencia" class="w-full p-2.5">
                <option value="" disabled selected>Selecione a competência</option>
                <option *ngFor="let estabelecimento of estabelecimentos">
                    {{ estabelecimento.nome }}
                </option>
            </select>
        </div>
    </div>
</form>