<div class="container">
  <div class="content">
    <div class="header">
      <a href="/inicio"
        ><img src="assets/codiub-logo.png" alt="Codiub Logo"
      /></a>
    </div>
    <h4>Termos de uso</h4>
    <p>
      Os termos de uso delineiam as obrigações e responsabilidades dos usuários
      ao utilizarem este sistema.
    </p>
    <p>
      Reservamos o direito de modificar estes termos, publicando as alterações
      em uma seção designada. O uso contínuo deste sistema indica sua aceitação
      e concordância com quaisquer modificações feitas neste documento.
    </p>
    <p>
      Ao utilizar este sistema, você, como usuário, concorda em cumprir os
      seguintes termos e condições:
    </p>
    <ul>
      <li>
        É de inteira responsabilidade do candidato fornecer um endereço de
        e-mail válido durante o cadastro no Portal, o qual será utilizado para
        acompanhamento de todas as etapas do processo seletivo;
      </li>
      <li>
        Caso o e-mail de ativação não seja recebido dentro de 24 horas após o
        cadastro, o usuário deverá verificar sua caixa de spam. Se mesmo assim
        não houver recebimento, pedimos que entre em contato conosco para obter
        mais informações;
      </li>
      <li>
        Após a confirmação do cadastro no Portal, é de responsabilidade do
        candidato acessar e se inscrever no processo seletivo para o cargo
        desejado;
      </li>
      <li>
        Não nos responsabilizamos por qualquer uso indevido do sistema ou por
        eventuais dificuldades de interpretação durante o processo de inscrição.
        Em caso de dúvidas, recomendamos que sempre utilize nossos canais de
        atendimento para esclarecê-las;
      </li>
      <li>
        Em decorrência de questões operacionais esse sistema está sujeito a
        eventuais problemas de interrupção, e/ ou de indisponibilidade de
        funcionamento temporário;
      </li>
      <li>
        Este sistema não assume responsabilidade por quaisquer danos ou
        prejuízos de qualquer natureza decorrentes da falta de disponibilidade
        ou continuidade de seu funcionamento;
      </li>
      <li>
        Este sistema está em conformidade com a Lei Geral de Proteção de Dados
        (LGPD) e está empenhado em proteger a privacidade e a segurança dos
        usuários. No entanto, é importante ressaltar que não nos
        responsabilizamos por danos, prejuízos ou perdas no equipamento do
        usuário decorrentes de falhas no sistema, no servidor ou na conexão, que
        possam ser causados por condutas de terceiros, incluindo ações de
        softwares maliciosos como vírus;
      </li>
      <li>
        Embora esse sistema empregue seus melhores esforços na segurança de suas
        aplicações, considerando a vulnerabilidade dos sistemas de informações,
        e o constante avanço da tecnologia de invasões, esse sistema não se
        responsabiliza por atos de terceiros que logrem êxito em coletar ou
        utilizar, por quaisquer meios, dados cadastrais e informações
        disponibilizadas nesse sistema por você usuário.
      </li>
    </ul>
    <p>
      Ao utilizar este sistema, os usuários concordam com os termos e condições
      estabelecidos acima.
    </p>
    <button-primary
      class="flex justify-end"
      [value]="'Voltar'"
      (click)="return()"
    ></button-primary>
  </div>
</div>
