<div class="min-h-screen flex flex-col">
  <app-navbar></app-navbar>

  <div class="p-5 flex items-center text-blue-500">
    <app-breadcrumb></app-breadcrumb>
  </div>

    <div class="title text-left mb-8">
      <h3 class="text-2xl">Pesquisa de Preços de Gás</h3>
      <p class="text-sm opacity-80">Consulta de preços de Gás em Uberaba</p>
    </div>

<div class="flex flex-col md:flex-row md:items-end gap-6">

  <app-buscar-competencias-filtro
    class="w-full md:w-96"
    (competenciaSelecionada)="filtrarCompetencia($event)"
  >
  </app-buscar-competencias-filtro>

  <app-buscar-estabelecimentos-filtro
    class="w-full md:w-96"
    (estabelecimentoSelecionado)="filtrarEstabelecimento($event)"
  >
  </app-buscar-estabelecimentos-filtro>

  <app-buscar-tamanhos-filtro
  class="w-full md:w-96"
    (tamanhoSelecionado)="filtrarTamanho($event)">
    </app-buscar-tamanhos-filtro>

  <button
    type="button"
    (click)="aplicarFiltros()"
    class="px-4 py-3 rounded-md bg-[#14263d] text-white whitespace-nowrap"
  >
    Aplicar filtros
  </button>

</div>

<div class="mt-5">
  <app-buscar-historicos-filtro
    [mes]="mesAplicado"
    [ano]="anoAplicado"
    [estabelecimentoId]="estabelecimentoAplicado"
    [tamanhoId]="tamanhoAplicado"
    [filtrosAplicados]="filtrosAplicados"
  >
  </app-buscar-historicos-filtro>
</div>
<div>
  <app-map
  [mes]="mesAplicado"
  [ano]="anoAplicado"
  [estabelecimentoId]="estabelecimentoAplicado"
  [filtrosAplicados]="filtrosAplicados"></app-map>
</div>
<div>
    <div>
        <app-table-historico-precos></app-table-historico-precos>
    </div>
</div>

<div>
    <app-footer></app-footer>
</div>