<div class="min-h-screen flex flex-col">
  <app-navbar></app-navbar>

  <div class="p-5 flex items-center text-blue-500">
    <app-breadcrumb></app-breadcrumb>
  </div>

    <div class="title text-left mb-8">
      <h3>Pesquisa de Preços de combustível</h3>
      <p>Consulta de preços de combustível em Uberaba</p>
    </div>

<div class="flex gap-6">
    <app-buscar-competencias-filtro></app-buscar-competencias-filtro>
    <app-buscar-estabelecimentos-filtro></app-buscar-estabelecimentos-filtro>
</div>
<div>
    <div>
        <app-buscar-historicos-filtro></app-buscar-historicos-filtro>
    </div>
</div>
<div>
    <div>
        <app-table-historico-precos></app-table-historico-precos>
    </div>
</div>
<div>
    <app-footer></app-footer>
</div>