<navbar [value]="tipoPagina"></navbar>

<div class="">
  <div class="flex h-full">
    <div class="sidebar h-auto">
      <div class="hidden" id="details">
        <div class="logo-details">
          <div class="logo_name">PC</div>
          <i (click)="openMenu()" class="bx bx-menu btn-menu" id="btn"></i>
          <!-- <img
            (click)="openMenu()"
            class="btn-menu"
            src="assets/icon/menu.svg"
            alt=""
            id="btn"
          /> -->
        </div>
      </div>

      <!-- <div class="w-full relative" id="search-input">
        <input
          type="text"
          class="default-input block w-full p-2.5 pr-15"
          (keyup)="applyFilter($event)"
        />
        <div class="absolute inset-y-0 right-2 flex items-center pr-3">
          <mat-icon class="icon-search">search</mat-icon>
        </div>
      </div> -->

      <div class="menu-scroll-container">
        <span *ngFor="let item of menu" class="w-full">
          <span
            *ngIf="item.children && item.children.length > 0"
            class="w-full"
          >
            <div class="w-full">
              <button
                class="w-full list transition"
                id="list-{{ item.identificador }}"
                (click)="showMenu(item)"
              >
                <div class="list-name">
                  <div class="display">
                    <!-- <mat-icon>{{ item.iconName }}</mat-icon> -->
                    <img
                      src="assets/icon/{{ item.iconName }}.svg"
                      class="icon"
                      id="{{ item.iconName }}"
                    />
                    <!-- <svg class="icon-black">
                      <use xlink:href="assets/icon/{{item.iconName}}.svg#icon-id"></use>
                    </svg> -->
                    <span class="pl-5 display-name w-auto text-wrap">
                      {{ item.displayName }}</span
                    >
                  </div>
                  <div class="display-icon">
                    <mat-icon id="icon-{{ item.identificador }}"
                      >keyboard_arrow_down</mat-icon
                    >
                  </div>
                </div>
              </button>
              <span
                *ngFor="let child of item.children"
                class="hidden pl-5"
                class="{{ item.identificador }}"
              >
                <a
                  routerLink="{{ child.route }}"
                  routerLinkActive="active"
                  class="flex justify-start items-center w-full list-children cursor-pointer"
                >
                  <div class="flex justify-center items-center">
                    <img src="assets/icon/{{ child.iconName }}.svg" />
                    <span class="pl-5 display-name w-auto text-wrap">{{
                      child.displayName
                    }}</span>
                  </div>
                </a>
              </span>
            </div>
          </span>
          <span
            *ngIf="
              !item.children ||
              (item.children.length === 0 && item.route != null)
            "
            class="w-full"
          >
            <a
              routerLink="{{ item.route }}"
              routerLinkActive="active"
              class="flex justify-start items-center w-full list cursor-pointer"
            >
              <div class="flex justify-center items-center">
                <img src="assets/icon/{{ item.iconName }}.svg" />
                <span class="pl-5 display-name">{{ item.displayName }}</span>
              </div>
            </a>
          </span>
        </span>
      </div>
    </div>

    <div class="home-section h-full flex-1 overflow-x-hidden">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div>
    <footer [value]="tipoPagina"></footer>
  </div>
</div>
